.btn-clear{
    width: 30%;
    background-color: rgb(251, 182, 181);
    border: 1px solid rgb(255, 44, 40);
}

.btn-clear:hover{
    background-color:  rgb(255, 4, 0);
}

.btn-update{
    width: 30%;
    background-color: rgb(255, 255, 157);
    border: 1px solid yellow;
}

.btn-update:hover{
    background-color: yellow;
}

.btn-add{
    width: 30%;
    background-color: rgb(151, 255, 179);
    border: 1px solid rgb(54, 255, 81);
}

.btn-add:hover{
    background-color: rgb(54, 255, 81);
}