<head th:fragment="headFragment">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title th:text="${title}"></title>
  <!-- link bootstrap css -->
  <link rel="stylesheet" href="resources/bootstrap/css/bootstrap.min.css" />
  <!-- link bootstrap js -->
  <script src="resources/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- link jquery js file -->
  <script src="resources/js/jquery.js"></script>

  <!-- link datatable css file -->
  <link
    rel="stylesheet"
    href="http://cdn.datatables.net/1.13.6/css/jquery.dataTables.css"
  />

  <!-- link datatable js file -->
  <script src="http://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>

  <!-- Theme style -->
  <link
    rel="stylesheet"
    href="resources/navbar_template/css/adminlte.min.css"
  />
  <!-- employee css -->
  <link rel="stylesheet" href="resources/css/employee.css" />
  <!-- button css -->
  <link rel="stylesheet" href="resources/css/button.css" />

  <!-- link index js file -->
  <!-- <script src="resources/controllerjs/user.js"></script> -->

  <!-- link tablefunction js file -->
  <script src="resources/js/validation.js"></script>
  <!-- link tablefunction js file -->
  <script src="resources/js/tablefunctions.js"></script>
  <!-- link common js file -->
  <script src="resources/js/common.js"></script>

  <!-- AdminLTE App -->
  <script src="resources/navbar_template/js/adminlte.js"></script>
</head>
